@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lora');

.fullscreen {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 400; /*Regular*/
  font-size: 20px;
}

/* Grid Layouts */
.gridTwoColumns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.twoColumnGridC1R1 {
  grid-column: 1;
  grid-row: 1;
}

.twoColumnGridC2R1 {
  grid-column: 2;
  grid-row: 1;
}

/* Colours */
.black {
  color: #2A2A2A;
}

.white {
  color: #FAFAFA;
}

.darkGray {
  color: #6A6A6A;
}

.lightGray {
  color: #BABABA;
}

.blue {
  color: #1378C1;
}

.red {
  color: #e13939;
}

.green {
  color: #2FAF63;
}

.header {
  font-size: 24px;
  font-family: 'Open Sans';
  font-weight: 600; /*Semi-bold*/
}

.alignTextCenter {
  text-align: center;
}

.helper {
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 400; /*Regular*/
}

.display {
  font-size: 24px;
  font-family: 'Lora';
  font-weight: 700; /*Bold*/
}

.button {
  font-family: 'Open Sans';
  font-size: 15px;
  color: #FAFAFA;
  background-color: #1378C1;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: #1378C1;
  cursor: pointer;
  max-width: 100px;
}

.borderRadius25px {
  border-radius: 25px;
}

.paddingTop10px {
  padding-top: 10px;
}

.paddingBottom10px {
  padding-bottom: 10px;
}

.paddingTop30px {
  padding-top: 30px;
}

.paddingLeft150px {
  padding-left: 150px;
}

.marginTop30px {
  margin-top: 30px;
}

.marginLeft30px {
  margin-left: 30px;
}

.card {
  max-width: 345px;
}

.searchBar {
  width: 900px; /*TODO: This will need to be dynamic*/
  align-items: center;
  margin-bottom: 30px;
  padding-left: 10px;
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height:70vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}